* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	margin: 0;
}
html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}
input {
	line-height: normal;
}
a {
	background: transparent;
}
img {
	border: 0;
}
*::before, *::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
div {
	display: block;
}
.letter-bottom {
	background: #f7f7f7;
}
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.4285;
	color: #333333;
	background-color: #fff;
}
html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
ul, ol {
	margin-top: 0px;
	margin-bottom: 10px;
}
p {
	margin: 0 0 10px;
}
html, body, form, p, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
body {
	height: 100%;
	font-family: "HelveticaNeue";
	line-height: 18px;
	background: #f8f8f8;
	position: relative;
	color: #333;
	font-size: 12px;
	margin: 0;
	padding: 0;
}
html > body {
	min-height: 100%;
	height: auto;
}
html {
	display: block;
	color: -internal-root-color;
	font-family: "HelveticaNeue";
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}
/* @media all and (min-width:768px) */
.container {
	width: 750px;
}
/* @media all and (min-width:992px) */
.container {
	width: 970px;
}
/* @media all and (min-width:1200px) */
.container {
	width: 1170px;
}
.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.row {
	margin-left: -15px;
	margin-right: -15px;
}
.clearfix::before, .clearfix::after, .dl-horizontal dd::before, .dl-horizontal dd::after, .container::before, .container::after, .container-fluid::before, .container-fluid::after, .row::before, .row::after, .form-horizontal .form-group::before, .form-horizontal .form-group::after, .btn-toolbar::before, .btn-toolbar::after, .btn-group-vertical > .btn-group::before, .btn-group-vertical > .btn-group::after, .nav::before, .nav::after, .navbar::before, .navbar::after, .navbar-header::before, .navbar-header::after, .navbar-collapse::before, .navbar-collapse::after, .pager::before, .pager::after, .panel-body::before, .panel-body::after, .modal-footer::before, .modal-footer::after {
	content: " ";
	display: table;
}
.clearfix::after, .dl-horizontal dd::after, .container::after, .container-fluid::after, .row::after, .form-horizontal .form-group::after, .btn-toolbar::after, .btn-group-vertical > .btn-group::after, .nav::after, .navbar::after, .navbar-header::after, .navbar-collapse::after, .pager::after, .panel-body::after, .modal-footer::after {
	clear: both;
}
.dl-horizontal dd::before, .dl-horizontal dd::after, .container::before, .container::after, .container-fluid::before, .container-fluid::after, .row::before, .row::after, .form-horizontal .form-group::before, .form-horizontal .form-group::after, .btn-toolbar::before, .btn-toolbar::after, .btn-group-vertical > .btn-group::before, .btn-group-vertical > .btn-group::after, .nav::before, .nav::after, .navbar::before, .navbar::after, .navbar-header::before, .navbar-header::after, .navbar-collapse::before, .navbar-collapse::after, .pager::before, .pager::after, .panel-body::before, .panel-body::after, .modal-footer::before, .modal-footer::after {
	content: " ";
	display: table;
}
.clearfix::before, .clearfix::after, .dl-horizontal dd::before, .dl-horizontal dd::after, .container::before, .container::after, .container-fluid::before, .container-fluid::after, .row::before, .row::after, .form-horizontal .form-group::before, .form-horizontal .form-group::after, .btn-toolbar::before, .btn-toolbar::after, .btn-group-vertical > .btn-group::before, .btn-group-vertical > .btn-group::after, .nav::before, .nav::after, .navbar::before, .navbar::after, .navbar-header::before, .navbar-header::after, .navbar-collapse::before, .navbar-collapse::after, .pager::before, .pager::after, .panel-body::before, .panel-body::after, .modal-footer::before, .modal-footer::after, .dl-horizontal dd::before, .dl-horizontal dd::after, .container::before, .container::after, .container-fluid::before, .container-fluid::after, .row::before, .row::after, .form-horizontal .form-group::before, .form-horizontal .form-group::after, .btn-toolbar::before, .btn-toolbar::after, .btn-group-vertical > .btn-group::before, .btn-group-vertical > .btn-group::after, .nav::before, .nav::after, .navbar::before, .navbar::after, .navbar-header::before, .navbar-header::after, .navbar-collapse::before, .navbar-collapse::after, .pager::before, .pager::after, .panel-body::before, .panel-body::after, .modal-footer::before, .modal-footer::after {
	content: " ";
	display: table;
}
.clearfix::after, .dl-horizontal dd::after, .container::after, .container-fluid::after, .row::after, .form-horizontal .form-group::after, .btn-toolbar::after, .btn-group-vertical > .btn-group::after, .nav::after, .navbar::after, .navbar-header::after, .navbar-collapse::after, .pager::after, .panel-body::after, .modal-footer::after, .dl-horizontal dd::after, .container::after, .container-fluid::after, .row::after, .form-horizontal .form-group::after, .btn-toolbar::after, .btn-group-vertical > .btn-group::after, .nav::after, .navbar::after, .navbar-header::after, .navbar-collapse::after, .pager::after, .panel-body::after, .modal-footer::after {
	clear: both;
}
.row {
	margin-left: -15px;
	margin-right: -15px;
}
.letter-bottom .form-letter {
	padding: 10px;
}
.letter-bottom .form-letter {
	padding: 10px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}
/* @media all and (min-width:992px) */
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
	float: left;
}
/* @media all and (min-width:992px) */
.col-md-2 {
	width: 16.66%;
}
/* @media all and (min-width:992px) */
.col-md-3 {
	width: 25%;
}
/* @media all and (min-width:992px) */
.col-md-7 {
	width: 58.33%;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
	float: left;
}
.letter-bottom .canh-cam-letter {
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 35px 0;
}
.letter-bottom .canh-cam-letter {
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 35px 0;
}
.letter-bottom .canh-cam-form {
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 50px 0;
}
.letter-bottom .canh-cam-form {
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 50px 0;
}
.letter-bottom .canh-cam-form .entry-form .name-box {
	float: left;
	width: 30%;
}
.letter-bottom .canh-cam-form .entry-form .email-box {
	float: left;
	width: 70%;
}
input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
input {
	-webkit-writing-mode: horizontal-tb !important;
	text-rendering: auto;
	color: initial;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
	-webkit-appearance: textfield;
	background-color: white;
	-webkit-rtl-ordering: logical;
	cursor: text;
	margin: 0em;
	font: 400 13.3333px Arial;
	padding: 1px 0px;
	border-width: 2px;
	border-style: inset;
	border-color: initial;
	border-image: initial;
	line-height: normal;
}
button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}
.letter-bottom .canh-cam-form .entry-form #submit-letter {
	padding: 5px;
}
.letter-bottom .canh-cam-form .entry-form #submit-letter {
	width: 100%;
	padding: 5px;
	float: left;
}
ul {
	list-style-type: disc;
}
.letter-bottom .canh-cam-form .entry-form .action-submit {
	position: absolute;
	right: 0px;
	padding: 0 5px;
	height: 28px;
	display: flex;
	align-items: center;
	margin: 2px;
	background: #ff681d;
	padding-right: 0px;
	width: 200px;
}
.letter-bottom .canh-cam-form .entry-form .action-submit {
	position: absolute;
	right: 0px;
	padding: 0 5px;
	height: 28px;
	display: flex;
	align-items: center;
	margin: 2px;
	background: #ff681d;
	padding-right: 0px;
	width: 200px;
}
li {
	list-style-type: none;
	display: list-item;
	text-align: -webkit-match-parent;
}
.letter-bottom .canh-cam-form .entry-form .action-submit li {
	float: left;
	padding: 0 20px;
	border-right: solid 1px #ccc;
	list-style: none;
}
.letter-bottom .canh-cam-form .entry-form .action-submit li {
	float: left;
	padding: 0 20px;
	border-right: solid 1px #ccc;
	list-style: none;
}
.letter-bottom .canh-cam-form .entry-form .action-submit li:last-child {
	border-right: none;
}
a {
	color: #428bca;
	text-decoration: none;
}
a {
	background: transparent;
	text-decoration: none;
	color: #333;
}
.letter-bottom .canh-cam-form .entry-form .action-submit li a {
	color: #fff;
	text-decoration: none;
}
.letter-bottom .canh-cam-form .entry-form .action-submit li a {
	color: #fff;
}
input[type='hidden'] {
	display: none;
	-webkit-appearance: initial;
	background-color: initial;
	cursor: default;
	padding: initial;
	border: initial;
}
.letter-bottom .canh-cam-form .entry-form #EmailLetterName {
	padding: 5px;
	width: 100%;
}
.letter-bottom .head-text-letter {
	font-size: 20px;
	color: #f15c22;
	padding: 10px 0;
	font-weight: bold;
}
.letter-bottom .head-text-letter {
	font-size: 20px;
	color: #f15c22;
	padding: 10px 0;
	font-weight: bold;
}
img {
	vertical-align: middle;
}
img {
	vertical-align: middle;
	border: 0;
}
