header {
    top: 0;
    position: sticky;
    z-index: 1;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* header user*/
.header {
    display: block;
    height: 51px;
    background-color: #e7e7e7;
}

.header__navbar-flex-user {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    position: relative;
}

.header__navbar-items {
    margin: 17px 20px;
}

.header__navbar-item {
    display: inline-block;
    padding: 0 15px;
    font-size: 1.2rem;
    color: var(--white-color);
}

.header-flex-with-search {
    display: flex;
    height: 110px;
    align-items: center;
    background-color: white;
}

.header__logo {
    width: 200px;
    display: flex;
    justify-content: center;
}

.header__logo a {
    display: block;
    width: 160px;
}

.header__logo img {
    width: 100%;
    margin: 0 auto;
    display: block;
}

.header__search {
    flex: 1;
    height: 35px;
}

.header__search-input {
    width:90%;
    height: 100%;
    border: 1px solid var(--border-color);
    outline: none;
    font-size: 1.5rem;
    padding: 0 10px;
}

.header__search-btn {
    width: 39px;
    height: 37px;
    background-color: var(--primary-color);
    margin-left: -4px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.header__search-btn>i {
    font-size: 1.5rem;
    color: black;
}

.header__search-btn>i:hover {
    color: var(--main-color);
}

/* header__cart */
.header__cart {
    width: 165px;
    text-align: center;
}

.header__cart-hover {
    position: relative;
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
    z-index: 1;
}

.header__cart-number {
    position: absolute;
    top: 0;
    right: -8px;
    font-size: 1rem;
}

.header__cart-hover::after {
    content: '';
    position: absolute;
    width: 70px;
    height: 25px;
    left: -15px;
    top: 40%;
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 8px);
    right: -7px;
    width: 200px;
    height: 100px;
    border: 1px solid var(--border-color);
    background-color: var(--white-color);
    border-radius: 4px;
    display: none;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.5s;

}

.header__cart-hover:hover .header__cart-list {
    display: block;
}

.header__cart-list::after {
    content: '';
    position: absolute;
    top: -17px;
    right: 19px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent var(--primary-color) transparent;
}

.header__cart-list-no-cart {
    padding: 10px;

}

.header__cart-text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header__cart-icon {
    font-size: 2.5rem;
    margin-top: 2px;
    color: var(--white-color);
}

.header__cart i {
    color: var(--main-color);
}


/* slogan */
.section__slogan {
    display: flex;
    justify-content: space-around;
    background-color: #ebe2c8;
    height: 55px;
    align-items: center;
}

.section__slogan-items {
    display: flex;

}

.section__slogan-items-text {
    margin-left: 10px;
    margin-top: 14px;
}


/* slideshow */
.container-slideShow {
    width: 1200px;
    height: 620px;
    text-align: center;
    position: relative;
}

.container-img {
    width: 100%;
    height: 600px;
}

.container__display-left,
.container__display-right {
    position: absolute;
    top: 50%;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: 2px solid #bdbbbb;
    font-size: 2rem;
    opacity: 0.7;
    background-color: transparent;
    color: #fff;
}

.container__display-left {
    left: 20px;
}

.container__display-right {
    right: 20px;
}

.container__display-left:hover,
.container__display-right:hover {
    opacity: 1;
}

/* .mySlides {
    display:none;
}   */



/* list category */
.category__container {
    background-color: #F5F5F5;
    padding: 20px 0px;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category_heading {
    font-size: 1.8rem;
    padding: 8px 18px;
    margin: 0px;
    border-bottom: 1px solid var(--border-color);
}

.category_heading i {
    font-size: 1.4rem;
    margin-right: 6px;
    position: relative;
    bottom: 1px;
}

.category-list {
    padding: 0 0 9px 0;
}

.category-items {
    list-style-type: none;
}

.category-items-active>a {
    color: var(--primary-color);
}

.category-items a {
    font-size: 1.4rem;
    position: relative;
    display: block;
    padding: 4px 30px;
    right: 0;
    transition: right linear 0.2s;
}

.category-items a:link,
:visited,
:active {
    color: var(--text-color);
}

.category-items a:hover {
    color: var(--primary-color);
    right: -6px;
}



/* footer */
.footer {
    background-color: var(--primary-color);
}

.footer-flex {
    display: flex;
    justify-content: space-between;
}

.footer__content,
.footer__contact {
    width: 300px;
    display: flex;
    justify-content: center;
}

.footer__contact-container i {
    margin-right: 5px;
}

.footer__content-container,
.footer__contact-container {
    font-size: 1.5rem;
    color: #333333;
    position: relative;
}

.footer__content-container h3::after,
.footer__contact-container h3::after {
    content: '';
    position: absolute;
    background-color: #333333;
    width: 50px;
    height: 2px;
    left: 0;
    top: 40px;
}

.footer__map {
    width: 300px;
}

.footer__map-container {
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright {
    font-size: 1.5rem;
    padding-bottom: 10px;
}



/* Product */
#product {
    padding-bottom: 20px;
}

.product-item {
    background-color: var(--white-color);
    text-align: center;
}

.product-item-img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.product-item-name {
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.8rem;
    margin: 6px;
}

.product-item-price {
    font-size: 1.4rem;
    color: var(--primary-color);
    margin: 6px;
}

.product-flex {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    padding-bottom: 20px;
    font-size: 1.1rem;
}

.product-flex button:hover,
.product-flex .product-flex-detail:hover {
    background-color: var(--primary-color);
    font-weight: 400;
}

.product-flex-detail {
    border: 1px solid var(--border-color);
    padding: 4px;
    display: flex;
    align-items: center;
    margin-right: 4px;
}

.product-flex-add-cart{
    margin-left: 4px;
}

.product-flex-add-cart button {
    padding: 11px;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
}

.product-flex-add-cart i,
.product-flex-detail i {
    margin-right: 2px;
}

.product-flex-detail,
.product-flex-add-cart button {
    cursor: pointer;
}

.btn-page>button:nth-child(2) {
    background-color: var(--primary-color);
}

/* cart */
table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

th,
td {
    padding: 8px;
    border-bottom: 1px solid var(--border-color);
}

.border-table {
    background-color: var(--primary-color);
    border: 1px solid var(--border-color);
}

.quantity-width {
    width: 40px;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


.btn-page {
    display: flex;
    justify-content: center;
}

.btn-page button {
    display: block;
    padding: 9px 13px;
    margin: 5px;
    border: none;
    background-color: var(--white-color);
}

.btn-page button:hover {
    background-color: var(--main-color);
    cursor: pointer;
}

.btn-page button:nth-child(2) {
    background-color: var(--main-color);
}



/* detail product */
.product-detail {
    display: flex;
    flex-wrap: wrap;
}

.product-detail__image {
    width: 36%;
    padding-right: 20px;
}

.product-detail__image img {
    width: 100%;
    height: auto;
}

.product-detail__info h1 {
    font-size: 3rem;
    padding: 5px;
}

.product-detail__info h2 {
    margin: 10px 0;
    font-size: 2rem;
    padding: 5px;

}

.quantity-flex {
    display: flex;
    align-items: center;
    padding: 5px;

}

.quantity-flex-text {
    font-size: 1.6rem;
    padding-right: 10px;

}

.quantity-decrease,
.quantity-increase,
.quantity-width {
    cursor: pointer;
    width: 32px;
    height: 28px;
    border: 1px solid var(--border-color);
}

.add-cart {
    padding: 5px;
}

.btn-add-cart {
    cursor: pointer;
    padding: 15px 45px;
    background-color: var(--main-color);
    border: 1px solid var(--border-color);
}


.container__form {
    display: block;
    width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    margin-bottom: 30px;

}

.container__form h1 {
    text-align: center;
    padding-top: 20px;
}

.container__form form {
    padding: 0 40px;
}

form .form-control {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 40px 0;
}

.form-control.success {
    border-bottom-color: #2691d9;
}

.form-control.error {
    border-bottom-color: #e74c3c;
}

.form-control input {
    width: 100%;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

small {
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: 3px;
    color: #e74c3c;
}

.form-control span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: 0.3s;
}

.form-control input:focus~span::before {
    width: 100%;
}

/*input[type='submit'] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: var(--main-color);
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
    margin-bottom: 20px;
}

input[type='submit']:hover {
    background-color: var(--primary-color);
}*/

.signup_link {
    text-align: center;
    font-size: 16px;
    color: #666666;
    padding: 20px;
}

.signup_link a {
    color: var(--primary-color);
    text-decoration: none;
}

.signup_link a:hover {
    text-decoration: underline;
}


/* reponsive */

@media screen and (max-width: 950px) {
    .grid__column-2-4 {
        width: 32%;
        padding: 12px;  
    }

    .header__cart{
        width: 120px;
    }
    .section__slogan {
      font-size: 1.5vw;

    }
}

@media screen and (max-width: 500px) {
    .grid__column-2-4 {
        width: 48%;
        padding: 12px;  
    }

    .header__search-input{
        width: 70%;
    }

    .header__cart{
        width: 80px;
    }
    .section__slogan {
        font-size: 1.2vw;
  
      }
}

.my-btn{
    padding: 10px 20px;
    font-size: 16px;
}